.footer {
  background-color: #1f2937; 
  padding: 1rem 0;
  color: white;
  text-align: center;
}

.footer__container {
  max-width: 1024px;
  margin: 0 auto;
  padding: 0 1rem;
  font-size: 0.875rem;
}